{{ $src := .Get "path" }}
{{ $is_remote := strings.HasPrefix $src "http" }}
{{ if not $is_remote }}
    {{ $src = path.Join "content" $.Page.File.Dir $src }}
{{ end }}
{{ $json := getJSON $src }}

<!-- https://getbootstrap.com/docs/4.6/components/card/ -->
<div class="container">
    <div class="row justify-content-center">
        {{ range $json }}
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-header"> {{ printf "%s | %s" .data .ora | markdownify | emojify }} </div>
                    <div class="row no-gutters align-items-center justify-content-center">
                        {{ if not (eq .img_locali nil | or (eq .img_ospiti nil)) }}
                            <div class="col-2 order-first"><img src={{printf "%s" .img_locali}}></div>
                            <div class="col-2 order-last"><img src={{printf "%s" .img_ospiti}}></div>
                        {{ end }}
                        <div class="col-7 card-body">
                            <h3 class="card-title">{{ printf "<u>**%s**</u> vs <u>%s</u>" .locali .ospiti | markdownify | emojify }}</h3>
                            <div class="card-subtitle text-muted">{{ printf "%s" .categoria | markdownify | emojify }}</div>
                        </div>                 
                    </div>
                    <div class="card-footer">{{ printf "%s" .palestra | markdownify | emojify }}</div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
